body{
  font-family: Source Sans Pro,sans-serif;
  font-size: 25px;
}
.buttonflex{
  display:flex;
  justify-content:space-around;
 
  font-weight: bolder;
  margin:20px;
  
}
.buttonflex2{
  display:flex;
  justify-content:space-around;

  font-weight: bolder;
  margin:20px;
 /*  gap:5px; */
  /* -webkit-animation-name: buttooonflex;
  animation-name: buttooonflex;
  animation-duration: 1s; */
}
/* @keyframes buttooonflex{
  0%{ display:flex;
      justify-content:center;
      gap:10px;
  }  
  100%{
      display:flex;
      justify-content:space-around;
      gap:0px;
  }   
}*/
button{
  border: 0px;
   font-size: 25px;
  
}
.button3{
  position: absolute;
      top: 300px;
      left:27.3%;
      right:28%;
      width:43%;
      
}
#no{
  position: absolute;
  top: 350px;
  left:35%;
  right:35%;
  width:30%;
  background-color: white;
  border :4px solid #344861;
  padding: 5px;
  border-radius: 25px;

} 
#no button{
   border :2px solid #bec6d4;
  border-radius: 15px;
  padding: 5px;
}
#buttons2{

  
  -webkit-animation-name: buttooon;
  animation-name: buttooon;
  animation-duration: 1s;
  
}
@keyframes buttooon {
  0%{position: relative;
      top: 300px;
      left:27.3%;
      right:28%;
      width:43%;}
  100%{position:relative;
        top:0px;
       left:0px;
       right:0px;
       width:95%;}
}

button:focus{
  border:1px solid skyblue;
}
#hiddendiv{
  height:30px;
}
.table{
   width: 500px;
  height: 500px;
  margin: auto;
 
}
td{
  padding: 0px;
}
.board{
  width: 536px;
  height: 540px;
  display: grid;
  grid-template-columns: repeat(9,60px);
  grid-template-rows: repeat(9,60px);
  border:5px solid #344861;
}
.cell input{
  height: 100%;
  width: 100%;
 font-size: 25px;
  padding: 6px;
  text-align: center;
 outline: none;
 
 border:1px solid #bec6d4;
 background-color: transparent;
}
.cell:nth-child(3n){
  border-right: 3px solid #344861;
}
.thick{
  border-bottom:3px solid #344861 ;
}

.disabled{
  background-color: rgba(211, 211, 211, 0.308);
  
}
input[name=disable]{
  pointer-events: none;
}
.glow{
  background-color: rgba(14, 97, 133, 0.164);
}
.same{
  background-color: rgba(135, 207, 235, 0.945);
}
.wrong{
  background-image: linear-gradient(skyblue,rgb(252, 120, 120)) ;
  border-color: red;
}
.selected{
  background-color: rgba(135, 207, 235, 0.829) ;
  border: 3px solid rgba(35, 127, 231, 0.603);
}
.cell:hover{
  background-color: rgba(71, 203, 255, 0.815);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0px;
}
#won{
  font-size: 100;
  text-align: center;
  position: absolute;
  top: 200px;
  left:10%;
  right:10%;
  width:80%
}


.hide{
  visibility: hidden;
}
.fadein{
  -webkit-animation-name: fadein;
  animation-name: fadein1;
  animation-duration: 1s;
}
.fadeout{
  -webkit-animation-name: fadein;
  animation-name: fadeout1;
  animation-duration: 1s;
}
@keyframes fadein1 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fadeout1 {
  0%{opacity: 1;}
   100%{opacity: 0;}
}
@media only screen and (max-width:600px) {
  .table{
      width: 285px;
     height: 288px;
     margin: auto;
 }
  .board{
      width: 285px;
      height: 288px;
      display: grid;
      grid-template-columns: repeat(9,32px);
      grid-template-rows: repeat(9,32px);
      border:5px solid #344861;
  }
   button{
      width: 100%;
  }
  /* #buttons2{
      position: absolute;
      top: 180px;
      left:20%;
      right:20%;
      width:50%
  } */
  @keyframes buttooon {
      0%{position: relative;
          top: 180px;
          left:20%;
          right:20%;
          width:50%;}
      100%{position:relative;
            top:0px;
           left:0px;
           right:0px;
           width:90.8%;}
  }
  
  #buttons2 button{
      font-size: 15px;
  }
  .button3 button{
      font-size: 15px;
  }
  #no button{
      font-size: 15px;
  }
  #no{
      position: absolute;
      top: 230px;
      left:30%;
      right:30%;
      width:40%;
      
  }
  #no p{
      font-size: 15px;
  }
  #won{
      font-size: 40px;
      
  }
  .cell input{
      font-size:20px
  }
  .button3{
      position: absolute;
          top: 180px;
          left:20%;
          right:20%;
          width:50%;
  }
}